In [293]:
"""Cleaning of Readmissions Data
The goal of this cleaning is to reduce the data from ratings by facility to ratings by state.
The rating by state will be found by finding the average rating for all facilities within a state.
Will capture facilities by counting them and adding a coulumn to the final database"""
import pandas as pd
import numpy as np

#Pull File Into Database and Set Column Names
col = ['hospital_name', 'provider_number', 'state', 'measure', 'discharges','footnote',
           'readmission_ratio','predicted_rate','expected_rate','readmissions','starte_date','end_Date']
df = pd.read_csv('Readmissions.csv')
df.columns=col

In [294]:
"""Initial removal of the following columns:
measure: columns are to be denied on the state level to get the overall state readmission ratio
         rendering this column unneccessary to this analysis.
footnote:  footnotes associated with a lack of information.  Most of which will be removed in the
           cleaning process.
start_date:  Does not provide any useful information for this analysis.  Also the same for all rows.
end_date: Does not provide any useful information fro this analysis.  Also the same for all rows."""

'Initial removal of the following columns:\nmeasure: columns are to be denied on the state level to get the overall state readmission ratio\n         rendering this column unneccessary to this analysis.\nfootnote:  footnotes associated with a lack of information.  Most of which will be removed in the\n           cleaning process.\nstart_date:  Does not provide any useful information for this analysis.  Also the same for all rows.\nend_date: Does not provide any useful information fro this analysis.  Also the same for all rows.'

In [295]:
#Removing Columns
usecols= ['hospital_name', 'provider_number', 'state','discharges','readmission_ratio',
           'predicted_rate','expected_rate','readmissions']
df=df[usecols]
df.head()

,hospital_name,provider_number,state,discharges,readmission_ratio,predicted_rate,expected_rate,readmissions
0,HIGHLANDS MEDICAL CENTER,10061,AL,Not Available,Not Available,Not Available,Not Available,Not Available
1,CLAY COUNTY HOSPITAL,10073,AL,103,0.9853,14.4,14.6,14
2,NORTHEAST ALABAMA REGIONAL MEDICAL CENTER,10078,AL,404,1.4044,6.1,4.3,31
3,NORTHEAST ALABAMA REGIONAL MEDICAL CENTER,10078,AL,544,0.9653,16.7,17.3,89
4,ATHENS LIMESTONE HOSPITAL,10079,AL,Not Available,1.0204,4.3,4.2,Too Few to Report

In [296]:
#Explore Data Pre-Clean
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19830 entries, 0 to 19829
Data columns (total 8 columns):
hospital_name        19830 non-null object
provider_number      19830 non-null int64
state                19830 non-null object
discharges           19830 non-null object
readmission_ratio    19830 non-null object
predicted_rate       19830 non-null object
expected_rate        19830 non-null object
readmissions         19830 non-null object
dtypes: int64(1), object(7)
memory usage: 1.2+ MB

In [297]:
#Get Hospital Count for Unique Provider Numbers and Readmission Counts By State
hospital_count = df.groupby('state').provider_number.nunique()

In [298]:
#Coerce Discharges, Readmission Ratios, Predicted Rates, Expected Rates, and Readmissions to get NaNs
tonumeric=['discharges','readmission_ratio','predicted_rate','expected_rate','readmissions']
dfa = df[tonumeric].apply(pd.to_numeric, errors='coerce')
#Setting up additional columns to concatinate
dfb = df[['hospital_name','provider_number','state']]

In [299]:
#Concatenating Data Back Together and Confirming DataFrame Integrity
df2= pd.concat([dfb,dfa], axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19830 entries, 0 to 19829
Data columns (total 8 columns):
hospital_name        19830 non-null object
provider_number      19830 non-null int64
state                19830 non-null object
discharges           11758 non-null float64
readmission_ratio    14411 non-null float64
predicted_rate       14411 non-null float64
expected_rate        14411 non-null float64
readmissions         11638 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.2+ MB

In [300]:
#Build Dictionary of States and Assign them to 0
dictionary ={}
for n in df2['state']:
    if n in dictionary.keys():
        continue
    else:
        dictionary[n]=0
#Count the Number of Excessive Readmissions Per State
for x in range(len(df)): 
    if df2.iloc[x][4]>1:
        dictionary[df2.iloc[x][2]] +=1

In [301]:
#Convert Dictionary to DataFrame for Merger
data = pd.DataFrame(list(dictionary.items()))
data.columns=['state','excessive_count']

In [302]:
#Initializing and Creating New Dataframe To Group By State
cleaned= pd.DataFrame(hospital_count)
cleaned.columns=['hospital_count']
cleaned['readmission_ratio'] = df2.groupby('state').readmission_ratio.mean()
cleaned['discharges']= df2.groupby('state').discharges.sum()
cleaned['predicted_rate']= df2.groupby('state').predicted_rate.sum()
cleaned['expected_rate'] = df2.groupby('state').expected_rate.sum()
cleaned['readmissions'] = df2.groupby('state').readmissions.sum()

In [303]:
#Reset Index to Get State Column 
cleaned = cleaned.reset_index()

In [304]:
#Merge Excessive Readmission Count with Cleaned DataFrame
final = pd.merge(cleaned,data, on='state')

In [305]:
# Save and Print Final DataFrame
final.to_csv('Readmissions_Cleaned.csv')
final

,state,hospital_count,readmission_ratio,discharges,predicted_rate,expected_rate,readmissions,excessive_count
0,AK,8,0.969563,5019.0,530.2,548.7,606.0,11
1,AL,85,1.017475,95303.0,5351.5,5308.2,15305.0,188
2,AR,45,1.032275,61703.0,2973.3,2879.7,9965.0,127
3,AZ,63,0.988116,76353.0,3930.2,3990.3,10290.0,104
4,CA,297,1.000689,303151.0,19823.2,19733.7,49252.0,580
5,CO,48,0.955349,39738.0,2824.6,2966.9,4483.0,37
6,CT,30,1.008910,64338.0,2316.9,2293.9,10596.0,81
7,DC,7,1.037523,11194.0,603.2,578.9,1898.0,25
8,DE,6,0.996822,22779.0,507.0,504.5,3529.0,16
9,FL,171,1.032694,347461.0,14225.8,13759.9,60967.0,547
10,GA,101,1.007372,125547.0,6700.3,6684.8,20261.0,204
11,HI,12,0.965423,7678.0,818.3,843.8,1117.0,12
12,IA,34,0.965708,52893.0,2350.3,2420.7,6908.0,56
13,ID,14,0.927339,15424.0,720.5,780.2,1529.0,7
14,IL,126,1.015363,224535.0,10125.9,9991.4,37279.0,344
15,IN,85,0.979649,125139.0,5874.1,6001.1,19762.0,147
16,KS,52,0.974291,47534.0,2751.5,2826.3,6156.0,66
17,KY,64,1.030460,97801.0,5059.4,4896.2,17993.0,181
18,LA,91,1.010657,70534.0,5234.9,5198.8,12348.0,162
19,MA,56,1.030456,130586.0,4403.0,4276.7,22459.0,171
20,MD,47,1.009932,100825.0,3710.0,3685.4,16736.0,118
21,ME,17,0.954463,23810.0,1295.0,1356.5,3448.0,19
22,MI,94,1.003394,180873.0,7185.4,7162.0,32071.0,208
23,MN,50,0.989352,36458.0,3194.2,3232.8,5214.0,96
24,MO,72,1.003899,115152.0,5592.0,5577.1,18841.0,176
25,MS,63,1.032306,61942.0,3657.9,3546.3,10857.0,146
26,MT,14,0.932066,14012.0,749.5,803.4,1506.0,9
27,NC,85,0.999401,166420.0,6131.3,6150.5,26282.0,182
28,ND,8,0.951322,13072.0,517.7,540.0,1592.0,12
29,NE,23,0.953858,29609.0,1422.1,1482.9,3675.0,27
30,NH,13,0.979488,26147.0,1019.8,1031.3,3810.0,31
31,NJ,64,1.036762,159968.0,5566.9,5380.0,28665.0,205
32,NM,32,0.981923,19077.0,1647.3,1688.3,2579.0,44
33,NV,22,1.028059,27835.0,1656.0,1608.3,4726.0,68
34,NY,152,1.038283,232366.0,11609.5,11113.7,42692.0,434
35,OH,130,0.996701,173389.0,9447.1,9458.2,29411.0,271
36,OK,85,0.997332,69974.0,4574.3,4590.9,10694.0,135
37,OR,34,0.961794,34922.0,2203.9,2289.7,4338.0,34
38,PA,150,1.002759,198152.0,10870.6,10868.8,32214.0,327
39,RI,11,1.003798,14722.0,836.5,827.3,2597.0,27
40,SC,54,0.998982,82831.0,3703.8,3716.7,12596.0,111
41,SD,20,0.914832,15817.0,819.9,890.4,1630.0,6
42,TN,90,1.012553,125313.0,6371.4,6289.2,20972.0,212
43,TX,312,0.994317,301490.0,18030.8,18220.7,48017.0,505
44,UT,31,0.949882,18788.0,1539.6,1630.5,1861.0,25
45,VA,75,1.017454,135931.0,5685.1,5612.5,21828.0,200
46,VT,6,0.931067,8805.0,435.9,462.4,1205.0,7
47,WA,49,0.963542,80559.0,3517.1,3627.5,10719.0,70
48,WI,66,0.972196,70699.0,4644.5,4785.5,10144.0,104
49,WV,29,1.024625,39939.0,2238.5,2184.7,7425.0,80
50,WY,12,0.990998,5443.0,531.8,541.1,838.0,16